body {
  background-color: #f0f0f0;
  font-family: "Fjalla One", sans-serif;
  font-size: 18px;
}

.to-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tasks-content {
  padding: 0 5%;
  &__item {
    padding-bottom: 5%;
    border-bottom: 2px solid #000;
    padding-top: 1%;
    & > div {
      padding-bottom: 1%;
    }
  }
  &__title {
    align-self: center;
    color: #b297c4;
    text-align: center;
  }
}

.incorrect {
  font-size: 12px;
  width: 400px;
}

.textarea-wrapper {
  display: flex;
  justify-content: space-between;
}

.approve {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 6px 13px;
  background-color: orangered;
}

.text-formatter-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > div {
    padding-bottom: 5%;
  }
}

.text-formatter__input-area,
.text-formatter__output-area {
  width: 350px;
  height: 300px;
}

.label {
  color: #000;
}

.caching-calculator__operator {
  display: flex;
  align-items: center;
  color: #000;
  &-text {
    padding-left: 1%;
  }
}

.caching-calculator-wrap {
  display: flex;
}

.caching-calculator__operators {
  padding-left: 5%;
}

.caching-calculator__caching-function-checkbox-area {
  display: flex;
  align-items: center;
}

.caching-calculator-main-container > div {
  padding-bottom: 5%;
}
